<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.2.xsd">

    <!--手动再ioc容器配置中配置controller bean-->
    <bean name="springController" class="com.springweb.controller.SpringController" />

    <!--自动扫描包实现bean的加载-->
    <!--注意导入context命名空间，xmlns:context="http://www.springframework.org/schema/context"和http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd"-->
    <context:component-scan base-package="com.springweb.controller.scan" />
</beans>